.bash.config.local
package-lock.json
.venv
ApiKey.json
ollama-custom/.ollama/**
tmp/**

agent-stack-latest.tar
env/
.vscode/
**/.env
backend/src/services/stt/stt.py
backend/.env

# Virtual environments
venv/
env/
.env/
.venv/

#  Database files
*.sqlite3
*.db

# Python bytecode cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

stt/models--mobiuslabsgmbh--faster-whisper-large-v3-turbo